/* MoviePage.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.movie-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

p {
  text-align: center;
  color: #666;
  max-width: 800px;
  margin: 0 auto 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  color: #fff;
  height: 100%; /* Ensures each card is the same height */
}

.movie-card.expanded {
  height: auto; /* Expand the card to fit content when description is shown */
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.movie-card-content {
  padding: 20px;
  flex: 1;
}

.movie-card h2 {
  margin-top: 0;
  color: #fff;
  font-size: 1.5em;
}

.movie-description {
  margin: 10px 0;
  color: #ddd;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Smooth transition for description expansion */
  max-height: 0; /* Hide description by default */
}

.movie-description.show {
  max-height: 200px; /* Expand description height when shown */
}

.movie-description.hide {
  max-height: 0; /* Hide description */
}

.btn-toggle-description {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-toggle-description:hover {
  background-color: #0056b3;
}
