/* Style for the navbar */
.navbar {
  background-color: #1a1a1a; /* Darker background color */
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
}

/* Style for the navbar list */
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* or use space-between, space-evenly based on your preference */
}

/* Style for navbar items */
.navbar-item {
  padding: 14px 20px;
}

/* Style for navbar links */
.navbar-link {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

/* Hover effect for navbar links */
.navbar-link:hover {
  background-color: #575757; /* Slightly lighter background on hover */
  color: #ffffff; /* Text color on hover */
  box-shadow: 0 0 10px #ffffff; /* Glowing effect */
}

/* Adding an underline effect */
.navbar-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

/* Underline expansion on hover */
.navbar-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Additional style for active page link */
.navbar-link.active {
  color: #ffcc00; /* Gold color for active link */
  box-shadow: 0 0 10px #ffcc00; /* Glowing effect for active link */
}
